.editpost {
  padding: 0 1rem;
}

.writecon {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 1rem;
}

.writecon > * {
  width: 100%;
}

.writecon > textarea {
  height: 300px;
}

.writecon > button {
  padding: 1rem;
  width: 200px;
}

.imageNote {
  font-size: 0.75rem;
  color: red;
  text-align: right;
  width: 100%;
}

.writecon .previewImg {
  text-align: left;
}

.writecon .previewImg img {
  width: 100px;
}

.writecon button[type='submit']:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
