.postdetailpage {
  padding: 0 0.25rem 2rem;
}

.detailimg {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem;
  position: relative;
  background-color: #eaeaea;
}

.detailimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.title {
  padding: 2rem 0;
  font-size: 1.75rem;
  font-weight: normal;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0;
  font-size: 1rem;
}

.author {
  color: black;
  padding: 0.25rem 0.5rem 0.25rem 0;
  cursor: pointer;
}

.author:hover {
  font-weight: bold;
}

.date {
  color: #999;
  flex: 1;
}

.info button {
  font-size: 1rem;
  color: #999;
}

.info button:hover {
  color: #1a1a1a;
}

.summary {
  background-color: rgb(255, 233, 233);
  padding: 1rem;
  font-style: italic;
}

.content {
  padding: 1rem 0;
}

.btns {
  padding: 0.5rem 0 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
}

.btnsWrapper a,
.btnsWrapper span {
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
  transition: 0.3s;
}

.btnsWrapper a:hover,
.btnsWrapper span:hover {
  font-weight: bold;
}

.likeCommentWrapper {
  display: flex;
  gap: 1rem;
  font-size: 0.75rem;
}

.commentContent {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.commentIcon {
  font-size: 16px;
}
