.registerpage {
  margin-top: 30px;
}

.registerpage h2 {
  text-align: center;
}

.container {
  width: calc(100% - 2em);
  margin: auto;

  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.container input {
  padding: 1em 1.2em;
  border-radius: 0.25em;
  outline: none;
  border: 1px solid gray;
  font-size: 1rem;
}

.container strong {
  color: red;
  font-weight: normal;
  font-size: 0.9em;
  padding: 1em 0.25em;
}

.container button {
  width: 100%;
  padding: 1.3em;
  background-color: black;
  color: white;
  border-radius: 0.25em;
  align-self: center; /* 버튼만 중앙 정렬 */
}
