.registerpage {
  width: clamp(280px, 90vw, 400px);
  margin: 0 auto;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.registerpage h2 {
  font-size: clamp(18px, 5vw, 24px);
  text-align: center;
}

.container {
  width: calc(100% - 2em);
  margin: auto;

  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.container input {
  padding: clamp(0.75em, 1vw, 1.25em) clamp(1em, 1.2vw, 1.25em);
  border-radius: 0.5em;
  outline: none;
  border: 1px solid gray;
  font-size: clamp(12px, 4vw, 16px);
}

.container strong {
  color: red;
  font-weight: normal;
  font-size: 0.9em;
  padding: 0.5em 0.25em;
}

.container button {
  width: 100%;
  padding: clamp(0.75em, 2vw, 1.25em) clamp(1em, 3vw, 1.5em);
  background-color: black;
  color: white;
  border-radius: 0.5em;
  align-self: center; /* 버튼만 중앙 정렬 */
}

.loginLink {
  margin: 30px 0px;
  font-size: clamp(12px, 4vw, 16px);
  text-align: center;
}

.linkButton {
  margin-left: 0.5rem;
  text-decoration: underline;
  color: white;
  cursor: pointer;
}
