.heartWrapper {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-right: 0.5rem;
}

.heart {
  cursor: pointer;
  font-size: 18px;
  line-height: 0.2;
}

.heart.liked {
  color: red;
}
