.fullscreenLayout {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../assets/karigurashi022.jpg') no-repeat center center / cover;
}
